@import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap');

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

.app-container {
  max-width: 420px;
  margin: 0 auto;
  background: #fff;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .subtitulo {
  font-size: 1.08rem;
  color: #444;
  margin-bottom: 0;
  font-weight: 400;
} */

.encabezado{
    background: rgb(27, 117, 5);
    width: 100vw; 
    margin: 0;          
    padding: 0;
    text-align: center;
    margin-bottom: 24px;
    display: flex;
}

.nombre-facultad{
    width: 75vw;
    padding: 2px;
    margin: auto;
    font-size: 0.63rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center
}

.logo-facultad{
  width: 25vw;
  padding-right: 8px;
  margin: auto;
  display: flex;
  justify-content: center
}

.logo-facultad img{
  width: 90px;
  height: 90px;
}

.imagenes-superpuestas {
  background: none;
  position: relative;
  width: 180px;
  height: 330px;
  margin: 0 auto;
}

.img-superpuesta {
  position: absolute;
  width: 200px;
  height: 300px;
  background: rgb(27, 117, 5);
  border: 2px solid #232323;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  border: 2px solid rgb(27, 117, 5);
  padding: 16px 16px 40px 16px; 
  box-sizing: border-box;
  transition: transform 0.18s;
}

.img-top {
  left: -100px;
  top: 0;
  z-index: 1;
}

.img-center {
  left: 80px;
  top: 200px;
  z-index: 2;
}

.img-bottom {
  left: -100px;
  top: 400px;
  z-index: 1;
}

/* Responsive para móvil */
@media (max-width: 500px) {
  .app-container {
    max-width: 99vw;
    padding: 10px 0 18px 0;
  }
  .imagenes-superpuestas {
    width: 45vw;
    min-width: 140px;
    height: 70vw;
    min-height: 220px;
    max-width: 180px;
    max-height: 330px;
  }
  .img-superpuesta {
    width: 50vw;
    height: 75vw;
    min-width: 80px;
    min-height: 110px;
    padding: 7px 7px 30px 7px;
    border-radius: 5px;
  }
  .img-top {
    left: -45%; 
    top: 0;
  }
  .img-center {
    left: 33%; 
    top: 75%;
  }
  .img-bottom {
   left: -45%; 
    top: 150%;
  }
}
